@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add this CSS to your stylesheets */
header.sticky-header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  transition: background-color 0.3s, box-shadow 0.3s;
}

header.sticky-header nav {
  /* Your styling for the header in its fixed position */
}

header.sticky-header.shadow-md {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
